<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  {% block scripts %}{% endblock %}
</head>
<body>
  <a-scene fog="type: linear; color: #cfc; far: 300; density: 10">
    <a-assets>
      {% block assets %}{% endblock %}
    </a-assets>
    {% block entitys %}{% endblock %}
  </a-scene>
</body>
</html>
